<html>
	<head>
		<title> {nome_disciplina} - Plano de Ensino</title>
		
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
		
		<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" />

  		<style type="text/css">
  			td {
  				padding: 10px;
  			}

  			/*@media print {
			  table { page-break-after:auto }
			  tr    { page-break-inside:avoid; page-break-after:auto }
			  td    { page-break-inside:avoid; page-break-after:auto }
			  thead { display:table-header-group }
			  tfoot { display:table-footer-group }
			}*/

  		</style>
	</head>
<body onload="window.print()">
	{tudo}
</body>
</html>