<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<title> Tela Alterar - Disciplinas </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
	<script src="../../lib/jquery.js"></script>
	<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
	<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" />
	<!-- <script type="text/javascript" src="../../lib/nicedit/nicEdit-latest.js"></script>
	<script type="text/javascript">
		bkLib.onDomLoaded(function () { nicEditors.allTextAreas({ fullPanel: true }) });
	</script> -->
	<style type="text/css">
		td {
			padding: 10px;
		}
	</style>
	<script type="text/javascript">
		function enviaFormulario() {
			var creditos = document.getElementById('creditos').value;
			var somatorio = 0;
			var combo;
			if (creditos.length > 0) {
				if (!isNaN(creditos)) {
					// nao pode haver todos os dias com creditos igual a zero.

					// deve-se redistribuir os creditos pela semana

					// os creditos por dia nao podem ultrapassar o total de creditos.

					for (var i = 0; i <= 6; i++) {
						combo = document.querySelector("[name='vetDiaSemana[" + i + "]']");
						// alert(i+":"+combo.options[combo.selectedIndex].text);
						somatorio = somatorio + parseInt(combo.options[combo.selectedIndex].text);
					}
					// alert("Creditos:"+creditos);
					// alert("Soma:"+somatorio);
					if (creditos == somatorio) {
						return true;
					} else {
						alert("Distribua os creditos pelos dias da semana. Os creditos distribuidos devem ter somatorio igual ao total de creditos.");
					}
				} else {
					alert('Digite um valor inteiro no campo creditos.');
				}
			} else {
				alert('Digite um valor para campo creditos.');
			}
			return false;
		}
	</script>
</head>

<body>
	<img src="../../imagens/logo.jpg" />
	<br>
	<h1>Tela Alterar Disciplina</h1>
	<form action="../../bin/disciplinas/alterar.php" method="post" onsubmit="return enviaFormulario()">
		<br>
		<br>
		<table class="table table-condensed" style="width: 1000px">
			<tr>
				<td> Disciplina: </td>
				<td><input type="text" name="nome" value="{nome}" size="50"></td>
			</tr>
			<tr>
				<td> Série/Semestre do Curso: </td>
				<td>
					<select name="serie_semestre_curso">
						<option value="NULL"> -- </option>
						<!-- BEGIN serie_semestre_curso_bloco -->
						<option value="{serie_semestre_curso_valor}" {serie_semestre_curso_marcado}>
							{serie_semestre_curso_rotulo}</option>
						<!-- END serie_semestre_curso_bloco -->

					</select>
				</td>
			</tr>

			<tr>
				<td> Carga Horária: </td>
				<td><input type="text" name="carga_horaria" size="50" value="{carga_horaria}"></td>
			</tr>
			<tr>
				<td> Ano/Semestre: </td>
				<td><input type="text" name="ano" value="{ano}" size="1" maxlength="4">/<input maxlength="1" type="text"
						name="semestre" value="{semestre}" size="1"></td>
			</tr>
			<tr>
				<td> Cr&eacute;ditos (total): </td>
				<td><input type="text" id="creditos" name="creditos" value="{creditos}" maxlength="1" size="1"></td>
			</tr>
			<!--
				<tr>
					<td> Cr&eacute;ditos por Dia:  </td>
					<td><input type="text" name ="creditos_por_dia" value="{creditos_por_dia}" size="1"></td>
				</tr>-->
			<tr>
				<td> Cr&eacute;ditos por dia: </td>
				<td>
					<!-- BEGIN diaSemana -->
					{valor}:<select name="vetDiaSemana[{chave}]">
						<option value="0" {marcado0}>0</option>
						<option value="1" {marcado1}>1</option>
						<option value="2" {marcado2}>2</option>
						<option value="3" {marcado3}>3</option>
						<option value="4" {marcado4}>4</option>
						<option value="5" {marcado5}>5</option>
						<option value="6" {marcado6}>6</option>
						<option value="7" {marcado7}>7</option>
						<option value="8" {marcado8}>8</option>

					</select>
					<!-- END diaSemana -->
				</td>
			</tr>
			<tr>
				<td> Horário de Atendimento: </td>
				<td> <textarea name="horario_atendimento" rows="15" cols="50">{horario_atendimento} </textarea></td>
			</tr>
			<tr>
				<td> Horário das aulas síncronas: </td>
				<td> <textarea name="horario_aulas_sincronas" rows="15" cols="50">{horario_aulas_sincronas}</textarea>
				</td>
			</tr>
			<tr>
				<td> Ementa: </td>
				<td><textarea name="ementa" rows="15" cols="60"> {ementa} </textarea></td>
			</tr>
			<tr>
				<td> Objetivos: </td>
				<td><textarea name="objetivos" rows="15" cols="60"> {objetivos} </textarea></td>
			</tr>
			<tr>
				<td> Programa: </td>
				<td> <textarea name="programa" rows="15" cols="60"> {programa} </textarea></td>
			</tr>
			<tr>
				<td> Metodologia: </td>
				<td> <textarea name="metodologia" rows="15" cols="50">{metodologia}</textarea></td>
			</tr>
			<tr>
				<td> Avaliação: </td>
				<td> <textarea name="avaliacao" rows="15" cols="50">{avaliacao} </textarea></td>
			</tr>
			<tr>
				<td> Recuperação Paralela: </td>
				<td> <textarea name="recuperacao_paralela" rows="15" cols="60"> {recuperacao_paralela} </textarea></td>
			</tr>
			<tr>
				<td> Bibliografia: </td>
				<td> <textarea name="bibliografia" rows="15" cols="60"> {bibliografia} </textarea></td>
			</tr>
			{eh_semestral}
			<!-- <tr>
				<td colspan="2"><b>Extras:</b></td>
			</tr>
			<tr>
				<td> Endereço SSH da Wiki no Github: </td>
				<td><input type="text" name="ssh_wiki" value="{ssh_wiki}" size="50"></td>
			</tr> -->
			<tr>
				<td> Email da Turma: </td>
				<td><input type="text" name="email" size="50" value="{email}"></td>
			</tr>

			<tr>
				<td colspan="2" style="text-align: left">
					<input type="hidden" name="id_curso" value="{id_curso}">
					<input type="hidden" name="id" value="{id}">
					<a class="btn btn-default" href="javascript:history.go(-1)">Voltar</a>
					<input style="margin: 10px;" class="btn btn-primary" type="submit" value="Alterar" />
				</td>
			</tr>
		</table>
	</form>
</body>

</html>