<!DOCTYPE html>
<html>
	<head>
		<title> Ver </title>	
			<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" />
	</head>
	<body onload="window.print()">

		<img src="../../imagens/logo.jpg" /> <br> <br>
		<table>
			<tr>
				<td> <h3> Disciplina: {nome_disciplina} - {ano}/{semestre} - {eh_semestral} </h3>				
				<!-- BEGIN aulasDadas --> 
				Aulas dadas - {bimestre} Bimestre: {aulas}
				<br>
				<!-- END aulasDadas --> 
				<br>				
				</td>
				
			</tr>
		</table>
			<table id="tabela" border="1">		
				<tr style="text-align: center; font-weight: bold;">
					<td>Matr&iacute;cula</td>
					<!-- BEGIN rotulo_notas -->
					<td>{bimestre_nome}</td>
					<!-- END rotulo_notas -->	
				</tr>
				<!-- BEGIN alunos -->
				<tr style="background-color: {cor}">
					
					<td style="text-align: center;">{matricula}</td>			
					<!-- BEGIN bloco_nota -->
					<td style="text-align: center;"> {nota} </td>
					<!-- END bloco_nota -->				
				</tr>
				<!-- END alunos -->				
			</table>		
	</body>
</html>