<html>
	<head> 
		<title> diario_de_classe  </title> 
<!-- 	<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" /> -->

		<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 		<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"> -->
<!-- 		<script src="../../lib/jquery.js"></script>
		<script src="../../lib/bootstrap/js/bootstrap.min.js"></script> -->
		<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" />
		<style type="text/css">
			body {
				    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
		</style>
	</head>
<body>	
<img src="../../imagens/logo.jpg"> 
	<h2> [{curso}] {disciplina} - {ano}/{semestre}</h2>		
	<h2>Atividades </h2> <br>


	
<table style="page-break-inside:auto">

	<tr style="page-break-inside: avoid;">
		<td style="border: 1px black solid;">Data </td>
		<td style="border: 1px black solid;">Ciclo</td> 
		<td style="border: 1px black solid;">Cred.</td> 
		<td style="border: 1px black solid;">Atividade</td>
		
	</tr>
	<!-- BEGIN planos -->
	<tr style="page-break-inside: avoid;"> 
		<td style="border: 1px black solid;"> {data} </td>
		<td style="border: 1px black solid; text-align: center;" >  {bimestre} </td> 
		<td style="border: 1px black solid; text-align: center;"> {creditos} </td>
		<td style="border: 1px black solid;"> {texto} </td>	
	</tr>
	<!-- END planos -->
</table>
</body>
</html>