<html>
	<head>
		<title> Tela Alterar - Questões </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
		<script src="../../lib/jquery.js"></script>
		<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/png" href="../../imagens/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../../imagens/favicon-16x16.png" sizes="16x16" />
	</head>
	<body>
<form action="alterar.php" method="post">
	<img src="../../imagens/logo.jpg" /> <br> <br> <br> 
		
	<table class="table table-condensed" style="width: 600px">			
		<tr> 
			<td> tags: </td>  
			<td><input type="text" name="tag" value="{tag}"> </td> 
		</tr>
		<tr> 
			<td colspan="2">	
			<input type="hidden" value={id} name="id">			
			<input class="btn btn-primary" type="submit" value="Alterar" /></td> 
		</tr>
	</table>	
</form>
</body>
</html>